{% extends "master/base.html" %}
{% block title %}Create List{% endblock %}

{% block content %}
<h1>Create List</h1>
<p>This page contains a list of all possible tables in our database, to which we can add new items by clicking on one of the tables we are interested in. </p>
<h2>Dynamic content</h2>

<ul>
    <h4>
        <li><a href="{% url 'create_team' %}">Team</a></li>
        <li><a href="{% url 'create_coach' %}">Coach</a></li>
        <li><a href="{% url 'create_stadium' %}">Stadium</a></li>
        <li><a href="{% url 'create_players' %}">Players</a></li>
        <li><a href="{% url 'create_organizer' %}">Event_organizer</a></li>
        <li><a href="{% url 'create_team_manager' %}">Team manager</a></li>
        <li><a href="{% url 'create_request' %}">Request</a></li>
        <li><a href="{% url 'create_match_history' %}">Match_history</a></li>
        <li><a href="{% url 'create_budget' %}">Budget</a></li>
        <li><a href="{% url 'create_box_office' %}">Box office</a></li>
        <li><a href="{% url 'create_employee' %}">Employee</a></li>
    </h4>
</ul>

{% endblock %}

