{% extends "master/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
<h1>View List</h1>
<p>This page contains a list of all the possible tables in our database, which we can view in more detail by clicking on one of the tables we are interested in.</p>
<h2>Dynamic content</h2>

<ul>
    <h4>
        <li><a href="{% url 'team_list' 0 %}">Team</a></li>
        <li><a href="{% url 'coach_list' 0 %}">Coach</a></li>
        <li><a href="{% url 'stadium_list' 0 %}">Stadium</a></li>
        <li><a href="{% url 'players_list' 0 %}">Players</a></li>
        <li><a href="{% url 'organizer_list' 0 %}">Event_orginizer</a></li>
        <li><a href="{% url 'team_manager_list' 0 %}">Team_manager</a></li>
        <li><a href="{% url 'request_list' 0 %}">Request</a></li>
        <li><a href="{% url 'match_list' 0 %}">Match_history</a></li>
        <li><a href="{% url 'budget_list' 0 %}">Budget</a></li>
        <li><a href="{% url 'box_office_list' 0 %}">Box_office</a></li>
        <li><a href="{% url 'employee_list' 0 %}">Employee</a></li>
    </h4>
</ul>

{% endblock %}

