{% extends "master/base.html" %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>  Are you sure you want to delete <b>{{item.last_name}}</b>  ?</p>

            <form method="post" action="{% url 'delete_employee' item.employee_id %}" class="form-group">
    

            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'employee_list' %}">Cancel</a>
            <input type="submit" name="Confirm" class="btn btn-danger">
        </div>
    </div>
</div>
</br>
{% endblock %}

