{% extends "master/base.html" %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>  Are you sure you want to delete the match with ID <b>{{item.match_id}}</b> that took place on <b>{{item.match_date}}</b> ?</p>

            <form method="post" action="{% url 'delete_match' item.match_id %}" class="form-group">
    

            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'match_list' 0 %}">Cancel</a>
            <input type="submit" name="Confirm" class="btn btn-danger">
        </div>
    </div>
</div>
</br>
{% endblock %}

