{% extends "master/base.html" %}
{% load django_tables2 %}

{% block content %}
<center>
    {% if matchs %}
        <h1>You searched for: "{{ searched }}"</h1>       
        <h2>Search results:</h2>  
        {% for match in matchs %}
        <h4><a href="{% url "match_list" match.match_id %}"><li>id[{{match.match_id}}]:{{match.match_date}}</li></a></h4>
        {% endfor %}
    {% else %}
        <h1>Unfortunately, your search returned no results</h1>
    {% endif %}
</center>

<a class="btn btn-info btn-lg" href="{% url 'match_list' 0 %}">Go back</a>
{% endblock %}

