{% extends "master/base.html" %}
{% load django_tables2 %}

{% block content %}
<center>
    {% if teams %}
        <h1>You searched for: "{{ searched }}"</h1>       
        <h2>Search results:</h2>  
        {% for team in teams %}
        <h4><a href="{% url "team_list" team.team_id %}"><li>{{team.team_name }}</li></a></h4>
        {% endfor %}
    {% else %}
        <h1>Unfortunately, your search returned no results</h1>
    {% endif %}
</center>

<a class="btn btn-info btn-lg" href="{% url 'team_list' 0 %}">Go back</a>
{% endblock %}

