{% extends "master/base.html" %}
{% load django_tables2 %}

{% block content %}
<center>
    {% if employees %}
        <h1>You searched for: "{{ searched }}"</h1>       
        <h2>Search results:</h2>  
        {% for employee in employees %}
        <h4><a href="{% url "employee_list" employee.employee_id %}"><li>{{employee.last_name }}</li></a></h4>
        {% endfor %}
    {% else %}
        <h1>Unfortunately, your search returned no results</h1>
    {% endif %}
</center>

<a class="btn btn-info btn-lg" href="{% url 'employee_list' 0 %}">Go back</a>
{% endblock %}

