{% extends "master/base.html" %}
{% load django_tables2 %}

{% block content %}
<center>
    {% if organizers %}
        <h1>You searched for: "{{ searched }}"</h1>       
        <h2>Search results:</h2>  
        {% for organizer in organizers %}
        <h4><a href="{% url "organizer_list" organizer.organizer_id %}"><li>id[{{organizer.organizer_id}}]:{{organizer.last_name}}</li></a></h4>
        {% endfor %}
    {% else %}
        <h1>Unfortunately, your search returned no results</h1>
    {% endif %}
</center>

<a class="btn btn-info btn-lg" href="{% url 'organizer_list' 0 %}">Go back</a>
{% endblock %}

