{% extends "master/base.html" %}
{% load django_tables2 %}

{% block content %}
<center>
    {% if offices %}
        <h1>You searched for: "{{ searched }}"</h1>       
        <h2>Search results:</h2>  
        {% for office in offices %}
        <h4><a href="{% url "box_office_list" office.window_id %}"><li>id[{{office.window_id}}]:{{office.window_name}}</li></a></h4>
        {% endfor %}
    {% else %}
        <h1>Unfortunately, your search returned no results</h1>
    {% endif %}
</center>

<a class="btn btn-info btn-lg" href="{% url 'box_office_list' 0 %}">Go back</a>
{% endblock %}

