{% extends "master/base.html" %}
{% load django_tables2 %}

{% block content %}
<center>
    {% if coachs %}
        <h1>You searched for: "{{ searched }}"</h1>       
        <h2>Search results:</h2>  
        {% for coach in coachs %}
        <h4><a href="{% url "coach_list" coach.coach_id %}"><li>id[{{coach.coach_id}}]:{{coach.last_name }}</li></a></h4>
        {% endfor %}
    {% else %}
        <h1>Unfortunately, your search returned no results</h1>
    {% endif %}
</center>

<a class="btn btn-info btn-lg" href="{% url 'coach_list' 0 %}">Go back</a>
{% endblock %}

